:root {
  --color-white: #fff;
  --color-black: #000;
  --color-red: #ff1c1c;
  --color-grey: #333;
  --background-color: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--background-color);
}

html,
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container {
  position: relative;
  width: 20em;
  height: 20em;
}

.pokeball {
  position: relative;
  width: 20em;
  height: 20em;
  border-radius: 50%;
  background: var(--color-white);
  border: 0.13em solid var(--color-black);
}

.pokeball:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 19.75em;
  height: 19.75em;
  border-radius: 10em 10em 0 0;
  margin-top: -0.13em;
  margin-left: -0.13em;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  border: 0.13em solid var(--color-black);
  background: var(--color-red);
}

.pokeball:after {
  position: absolute;
  content: "";
  width: 19.75em;
  height: 19.75em;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.27) 0 -1.4em 1.6em 0 inset,
    rgba(0, 0, 0, 0.25) 0 -2.3em 1.9em 0 inset,
    rgba(0, 0, 0, 0.2) 0 -4.9em 2.5em 0 inset;
}

.details {
  position: absolute;
  width: 20em;
  height: 1.5em;
  margin-top: 9.6em;
  margin-left: -0.13em;
  background: var(--color-grey);
  border: 0.13em solid var(--color-black);
}

.details:before {
  position: absolute;
  content: "";
  width: 6em;
  height: 6em;
  border-radius: 50%;
  margin-top: -2.33em;
  margin-left: 6.87em;
  background: var(--color-grey);
  border: 0.13em solid var(--color-black);
}

.details:after {
  position: absolute;
  content: "";
  width: 3.6em;
  height: 3.6em;
  border-radius: 50%;
  margin-top: -1.13em;
  margin-left: 8.07em;
  background: var(--color-white);
  box-shadow: rgba(0, 0, 0, 0.16) 0 -0.7em 0.5em 0 inset,
    rgba(0, 0, 0, 0.1) 0 -3.3em 0.9em 0 inset;
  border: 0.13em solid var(--color-black);
}

.flash {
  position: absolute;
  z-index: 10;
  width: 6em;
  height: 2em;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.35);
  box-shadow: rgba(255, 255, 255, 0.12) 0 0.16em 0.3em 0,
    rgba(255, 255, 255, 0.32) 0 0.16em 1em 0;
}

.background {
    z-index: -1;
}

.background__circle {
    position: absolute;
    border-radius: 50%;
    background: #666565;
    animation: ripple 40s infinite;
}

.small {
    width: 200px;
    height: 200px;
    left: -100px;
    bottom: -100px;
}

.medium {
    width: 400px;
    height: 400px;
    left: -200px;
    bottom: -200px;
}

.large {
    width: 600px;
    height: 600px;
    left: -300px;
    bottom: -300px;
}

.xlarge {
    width: 800px;
    height: 800px;
    left: -400px;
    bottom: -400px;
}

.xxlarge {
    width: 1000px;
    height: 1000px;
    left: -500px;
    bottom: -500px;
}

.shade1 {
    opacity: 0.2;
}

.shade2 {
    opacity: 0.5;
}

.shade3 {
    opacity: 0.7;
}

.shade4 {
    opacity: 0.8;
}

.shade5 {
    opacity: 0.9;
}

@keyframes ripple {
    0% {
        transform: scale(0.8);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(0.8);
    }
}